services:
  postgres:
    build: ./postgres
    container_name: postgres_c
    environment:
      - POSTGRES_PASSWORD=martinmi
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/postgres-data:/var/lib/postgresql/data
      - ./postgres/postgresql.conf:/etc/postgresql/postgresql.conf
    command: postgres -c 'config_file=/etc/postgresql/postgresql.conf'
    restart: always
    networks:
      - postgres_network

  nginx:
     image: nginx:latest
     container_name: nginx_c
     ports:
       - "80:80"
       - "8081:8081"
     volumes:
       - ./nginx/nginx.conf:/etc/nginx/nginx.conf
       # - ./nginx/nginx_ssl.conf:/etc/nginx/nginx.conf  # Use this if using SSL
       # - ./static_volume/django_c:/app/static/django_c
       - ./static_volume/dashapp_urnioutput:/app/static/dashapp_urnioutput
       - ./static_volume/dashapp_leantabla:/app/static/dashapp_leantabla
     networks:
       - postgres_network

  portainer:
    image: portainer/portainer-ce
    container_name: portainer_c
    ports:
      - "9000:9000"
      - "8001:8001"  # Optional for Portainer Agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    restart: always

  # rabbitmq:
  #   image: rabbitmq:management
  #   container_name: rabbitmq_c
  #   environment:
  #     - TZ=Europe/Berlin
  #   ports:
  #     - "5672:5672"
  #     - "15672:15672"
  #   healthcheck:
  #     test: ["CMD-SHELL", "rabbitmq-diagnostics ping"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 5
  #   networks:
  #     - postgres_network

networks:
  postgres_network:
    external: true
    name: postgres_network
    driver: bridge

volumes:
  portainer_data:
